@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;600&display=swap");

* {
  font-family: "Hind", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --titulo: #84534c;
  --whatsapp-color: #3bbc21;
}

body {
  margin-bottom: 10px;
}

/* ============CABEÇALHO============= */
/* CABECALHO */
.head {
  background-color: rgb(194, 181, 181);
  position: fixed;
  left: 0;
  top: 0;
  height: 115px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0 10px black;
  color: white;
}

/* O NAV */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* A JUNCAO DOS ITENS DO MENU */
.menu-itens {
  display: flex;
  justify-content: space-between;
}

/* LOGO */
.logo {
  height: 90px;
  width: auto;
  padding-bottom: 25px;
}

/* CADA ITEM DO MENU */
.menu-item {
  padding: 41px 10px;
  text-transform: uppercase;
  font-weight: 700;
}

/* CORPO */
.body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ============HOME============= */
.home {
}

/* IMAGEM CARROSSEL */
.image {
  width: 100%;
  height: 80vh;
}

/* ============QUEM SOMOS============= */
.quem-somos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

/* IMAGEM NOME */
.title {
  width: 40vw;
  padding-bottom: 100px;
}

/* AREA COM SUBTITULO, DESCRICAO E IMAGEM */
.content {
  display: flex;
  flex-direction: row;
  gap: 7vw;
  align-items: center;
}

/* AREA COM O SUBTITULO E DESCRIÇÃO */
.text-content {
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
}

/* SUBTITULO */
.subtitle {
  font-size: 50px;
  margin-bottom: 5px;
  text-align: center;
  color: var(--titulo);
}

.top {
  text-align: unset;
  margin-left: 100px;
}

.bottom {
  text-align: unset;
  margin-left: 350px;
}

/* PARAGRAFO DE DESCRIÇÃO */
.description {
  font-size: 2vh;
  margin-top: 6px;
  text-align: justify;
}

/* IMAGEM DO SALAO */
.the-place {
  margin-right: 10vw;
  height: 60vh;
  /* width: 30vw; */
}
/* ============SERVIÇOS============= */
.servicos {
  background-color: aqua;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7vh;
}

.icon {
  margin-bottom: 30px;
  width: 80px;
}

.service {
  font-size: 3vh;
  color: var(--titulo);
  text-transform: uppercase;
  font-weight: 300;
}

.row {
  display: flex;
  flex-direction: row;
}

.gap {
  gap: 200px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-description {
  width: 400px;
}

/* ============FOTOS============= */

.fotos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.photo-grid {
  margin: 8px;
  vertical-align: middle;
  height: 25vh;
  max-width: 20vw;
}

/* ============SERVIÇOS============= */
.orcamento {
  background-color: aqua;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-budget {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30vw;
  max-width: 550%;
}

/* INPUTS */
.input-field {
  border: none;
  height: 5vh;
  font-size: 17px;
  padding: 6px 12px;
}

.obs {
  height: 42px;
  padding-bottom: 100px;
}

/* BOTAO */
.button {
  border: none;
  height: 5vh;
  font-size: 15px;
  text-transform: uppercase;
  background-color: var(--titulo);
  color: white;
  font-weight: 600;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 35px;
  height: 25px;
  width: 230px;
  background-color: var(--whatsapp-color);
  margin-top: 40px;
  padding: 10px;
  gap: 4px;
}

.icon-small {
  height: 30px;
}

.link {
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

/* ============CONTATO============= */
.contato {
  display: flex;
  align-items: center;
  text-align: left;
  flex-direction: column;
  padding: 100px 0;
}

.contact {
  display: flex;
  gap: 10px;
  font-size: 17px;
  padding-bottom: 10px;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.algo {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.map {
  width: 600px;
  height: 400px;
  background: grey;
  margin-right: 20px;
}
