@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;600&display=swap");

* {
  font-family: "Hind", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --menu: #d9cfbf;
  --background-light: #f1f1f1;
  --background-dark: #c0b29a;
  --titulo: #84534c;
  --whatsapp-color: #3bbc21;
}

body {
  background-color: var(--background-light);
}

/* ============CABEÇALHO============= */
/* CABECALHO */
.head {
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--menu);
  position: fixed;
  height: 115px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0 10px black;
  color: white;
}

/* O NAV */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* A JUNCAO DOS ITENS DO MENU */
.menu-itens {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

/* LOGO */
.logo {
  height: 90px;
  width: auto;
  padding-bottom: 25px;
}

/* CADA ITEM DO MENU */
.menu-item {
  padding: 41px 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--background-light);
}

.menu-item:hover{
    color: var(--background-dark);
    text-decoration: underline;
    /* width: 100%; */
}

/* CORPO */
.body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ============HOME============= */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.image {
  width: 100%;
  height: 80vh;
  z-index: 0;
}

/* ============QUEM SOMOS============= */
.quem-somos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

/* IMAGEM NOME */
.title {
  width: 40vw;
  padding-bottom: 100px;
}

/* AREA COM SUBTITULO, DESCRICAO E IMAGEM */
.content {
  display: flex;
  flex-direction: row;
  gap: 7vw;
  align-items: center;
}

/* AREA COM O SUBTITULO E DESCRIÇÃO */
.text-content {
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
}

/* SUBTITULO */
.subtitle {
  font-size: 5vh;
  margin-bottom: 5px;
  text-align: center;
  color: var(--titulo);
}

.top {
  text-align: unset;
  margin-left: 100px;
}

.bottom {
  text-align: unset;
  margin-left: 350px;
}

/* PARAGRAFO DE DESCRIÇÃO */
.description {
  font-size: 2vh;
  margin-top: 6px;
  text-align: justify;
}

/* IMAGEM DO SALAO */
.the-place {
  margin-right: 10vw;
  height: 80vh;
  max-width: 40vw;
}
/* ============SERVIÇOS============= */
.servicos {
  background-color: var(--background-dark);
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7vh;
}

.icon {
  margin-bottom: 30px;
  width: 80px;
}

.service {
  font-size: 3vh;
  color: var(--titulo);
  text-transform: uppercase;
  font-weight: 300;
}

.row {
  display: flex;
  flex-direction: row;
}

.gap {
  gap: 3vw;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-description {
  width: 25vw;
}

/* ============FOTOS============= */

.fotos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.photo-grid {
  margin: 8px;
  vertical-align: middle;
  height: 25vh;
  max-width: 20vw;
}

/* ============ORÇAMENTO============= */
.orcamento {
  background-color: var(--background-dark);
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-budget {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30vw;
  max-width: 550%;
}

/* INPUTS */
.input-field {
  border: none;
  height: 5vh;
  font-size: 17px;
  padding: 6px 12px;
}

.obs {
  height: 42px;
  padding-bottom: 100px;
  padding-top: 25px;
}

/* BOTAO */
.button {
  border: none;
  height: 5vh;
  font-size: 15px;
  text-transform: uppercase;
  background-color: var(--titulo);
  color: white;
  font-weight: 600;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 35px;
  height: 25px;
  width: 230px;
  background-color: var(--whatsapp-color);
  margin-top: 40px;
  padding: 10px;
  gap: 4px;
}

.icon-small {
  height: 2vh;
}

.link {
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

/* ============CONTATO============= */
.contato {
  display: flex;
  align-items: center;
  text-align: left;
  flex-direction: column;
  padding: 100px 0;
}

.contact {
  display: flex;
  gap: 10px;
  font-size: 17px;
  padding-bottom: 10px;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contacts-box {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.map {
  width: 600px;
  height: 400px;
  background: grey;
  margin-right: 20px;
}

/* ============RODAPÉ============= */
/* RODAPE */
.footer {
  background-color: var(--menu);
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
